@model BuildMyPC.Models.VideoCard
@{
    @{
        ViewBag.Title = "Details";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h3>@Model.Name</h3>
    <ul>
        <li>Brand: @Model.Brand.BrandName</li>
        <li>Memory: @Model.Memory GB</li>
        <li>Core Clock: @Model.CoreClock GHz</li>
        <li>Price: $@Model.Price</li>
    </ul>

    @Html.ActionLink("Back to List", "Index", "VideoCard")

