@model BuildMyPC.Models.Motherboard
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.Name</h3>
<ul>
    <li>Brand: @Model.Brand.BrandName</li>
    <li>Socket: @Model.Socket</li>
    <li>Form Factor: @Model.FormFactor</li>
    <li>Max RAM: @Model.MaxRAM GB</li>
    <li>Price: $@Model.Price</li>
</ul>

@Html.ActionLink("Back to List", "Index", "Motherboard")


