@model IEnumerable<BuildMyPC.Models.Motherboard>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select a Motherboard</h2>

@if (!Model.Any())
{
    <p>There are no Cases availble.</p>
}

else
{

    <table class="table table-dark table-hover">
        <thread>
            <tr>
                <th>Motherboards (Click for Details)</th>
                <th>Socket</th>
                <th>Form Factor</th>
                <th>Max RAM</th>
                <th>Price</th>
                <th>Action</th>


            </tr>
        </thread>
        <tbody>

            @foreach (var motherboards in Model)
            {
                <tr>
                    <td>@Html.ActionLink(motherboards.Name, "Details", "Motherboard", new { id = motherboards.Id }, null)</td>
                    <td>@motherboards.Socket</td>
                    <td>@motherboards.FormFactor</td>
                    <td>@motherboards.MaxRAM GB</td>
                    <td>$@motherboards.Price</td>
                    <td>@Html.ActionLink("Add Motherboard", "Addmotherboard", "Motherboard", motherboards, null)</td>

                </tr>
            }
        </tbody>
    </table>









}


