@model BuildMyPC.Models.CPU
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.Name</h3>
<ul>
    <li>Brand: @Model.Brand.BrandName</li>
    <li>Core Speed: @Model.Speed GHz</li>
    <li>Cores: @Model.Cores</li>
    <li>Power Consumption: @Model.PowerConsumption W</li>
    <li>Price: $@Model.Price</li>
</ul>

@Html.ActionLink("Back to List", "Index", "CPU")
