@model BuildMyPC.ViewModels.IndexListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Part List Builder</h2>
<hr />

<table class="table table-dark table-hover">
    <thread>
        <tr>
            <th>Component</th>
            <th>Selection</th>



        </tr>
    </thread>
    <tbody>


        <tr>
            <td>Cpu</td>
            <td>
<<<<<<< HEAD

                @{ var cpu = Session["Cpu"];}
                @if (cpu != null)
                {
                    <p>Added</p>
=======
                @{ var cpu = Session["Cpu"]; var cpuname = Session["Cpuname"]; }
                @if (cpu != null)
                {
                <p>@cpuname</p>
>>>>>>> d7940fbfa093945f68ea306ff1f5d17ff7e71f83
                }
                else
                {
                    <a class="btn btn-primary btn-sm" href="~/CPU/Index">Choose from List</a>
                }
            </td>
        </tr>
        <tr>
            <td>Motherboard</td>
            <td>
                @{ var motherboard = Session["motherboard"]; var motherboardname = Session["motherboardname"]; }
                @if (motherboard != null)
                {
<<<<<<< HEAD
                    <p>Added</p>
=======
                    <p>@motherboardname</p>
>>>>>>> d7940fbfa093945f68ea306ff1f5d17ff7e71f83
                }
                else
                {
                    <a class="btn btn-primary btn-sm" href="~/MotherBoard/Index">Choose from List</a>
                }
            </td>
        </tr>
        <tr>
            <td>Memory</td>
            <td>
                @{ var memory = Session["memory"]; var memoryname = Session["memoryname"]; }
                @if (memory != null)
                {
<<<<<<< HEAD
                    <p>Added</p>
=======
                    <p>@memoryname</p>
>>>>>>> d7940fbfa093945f68ea306ff1f5d17ff7e71f83
                }
                else
                {
                    <a class="btn btn-primary btn-sm" href="~/Memory/Index">Choose from List</a>
                }
            </td>
        </tr>
        <tr>
            <td>Video Card</td>
            <td>
                @{ var videocard = Session["videocard"]; var videocardname = Session["videocardname"]; }
                @if (videocard != null)
                {
<<<<<<< HEAD
                    <p>Added</p>
=======
                    <p>@videocardname</p>
>>>>>>> d7940fbfa093945f68ea306ff1f5d17ff7e71f83
                }
                else
                {
                    <a class="btn btn-primary btn-sm" href="~/VideoCard/Index">Choose from List</a>
                }
            </td>
        </tr>
        <tr>
            <td>Storage</td>
            <td>

                @{ var storage = Session["storage"]; var storagename = Session["storagename"]; }
                @if (storage != null)
                {
<<<<<<< HEAD
                    <p>Added</p>
=======
                    <p>@storagename</p>
>>>>>>> d7940fbfa093945f68ea306ff1f5d17ff7e71f83
                }
                else
                {
                    <a class="btn btn-primary btn-sm" href="~/Storage/Index">Choose from List</a>
                }
            </td>
        </tr>
        <tr>
            <td>Power Supply</td>
            <td>
                @{ var powersupply = Session["powersupply"]; var powersupplyname = Session["powersupplyname"]; }
                @if (powersupply != null)
                {
<<<<<<< HEAD
                    <p>Added</p>
=======
                    <p>@powersupplyname</p>
>>>>>>> d7940fbfa093945f68ea306ff1f5d17ff7e71f83
                }
                else
                {
                    <a class="btn btn-primary btn-sm" href="~/PowerSupply/Index">Choose from List</a>
                }
            </td>
        </tr>
        <tr>
            <td>Case</td>
            <td>
                @{ var cases = Session["cases"]; var casesname = Session["casesname"]; }
                @if (cases != null)
                {
<<<<<<< HEAD
                    <p>Added</p>
=======
                    <p>@casesname</p>
>>>>>>> d7940fbfa093945f68ea306ff1f5d17ff7e71f83
                }
                else
                {
                    <a class="btn btn-primary btn-sm" href="~/Case/Index">Choose from List</a>
                }
            </td>
        </tr>

    </tbody>
</table>

<span class="btn btn-default">@Html.ActionLink("View my Build!", "Index", "Build")</span>
@*<a class="btn btn-primary" href="#">View my Build!</a>*@
